#Compiled source

*.com
*.class
*.exe
*.o
*.dll

#Packages
*.7z
*.dmg
*.gz
*.tar
*.zip
*.rar
*.jar

#Sysfiles
Thumbs.db
Icon?
ehthumbs.db
.DS_Store*
.project
.classpath

#TeX files
*.aux
*.dvi
*.log
*.toc

n15/src/MonsterMash/.settings/*
n15/src/MonsterMash/.settings/org.eclipse.ltk.core.refactoring.prefs

n15/src/MonsterMash/.settings/org.eclipse.wst.ws.service.policy.prefs

*.prefs

n15/src/MonsterMash/.settings/org.eclipse.jdt.core.prefs
